MONGODB_URI = ${YOUR KEYS HERE}

CLOUDINARY_API_KEY = ${YOUR KEYS HERE}
CLOUDINARY_SECRET_KEY = ${YOUR KEYS HERE}
CLOUDINARY_NAME = ${YOUR KEYS HERE}

JWT_SECRET = ${YOUR KEYS HERE}

ADMIN_EMAIL = ${YOUR KEYS HERE}
ADMIN_PASSWORD = ${YOUR KEYS HERE}
ADMIN_APP_PASSWORD = ${YOUR KEYS HERE}

CLIENT_SECRET_KEY = ${YOUR KEYS HERE}
CLIENT_SECRET_ID = ${YOUR KEYS HERE}

PHONEPE_BASE_URL = ${YOUR KEYS HERE}
PHONEPE_MERCHANT_ID = ${YOUR KEYS HERE}
PHONEPE_SAL_INDEX = ${YOUR KEYS HERE}
PHONEPE_SALT_KEY =${YOUR KEYS HERE}

CLIENT_URL = ${YOUR KEYS HERE}